.wrapper {
    padding: 5% 5% 5% 5%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
  
    &:hover {
        background-color: rgba(222, 229, 241, 0.04);
        .title {
            color:beige;
        }
    }

    &.active {
        background-color:#B59628;
    
        .title {
            color: white;
        }
    }
}

.title {
    margin-left: 2%;
    
    font-weight: 400;
    color: white;
    line-height: 4rem;
    text-decoration: none;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
}



@media (max-width: 768px) {
    .wrapper{

      height: 2vh; /* Điều chỉnh chiều cao khi viewport width nhỏ hơn 768px */
    }
  }