.wrapper{
    background-color: #3D464D;
 
}
.title{
  
    display: flex;
    height: 5vw;
    align-items: center;
    color: #FFF;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
}

@media (max-width: 768px) {
    // .wrapper{
    //   height: 100%; /* Điều chỉnh chiều cao khi viewport width nhỏ hơn 768px */
    // }
  }