.wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    height: 100vh;
    // column-gap: 10%;
}
.header{
    height: 15vh;
    z-index: 6;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.content {
    
    z-index: 4;
}
.login-container{

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
