.login-form{
    display: flex;
    // width: 50%;
    margin-top: 5%;
 
}
.left-part{
    width: 50%;
    margin-top: 10%;
    margin-right: 10%;
}
.forgot-password{
    border: none;
    border-bottom: 1px solid #000; /* Màu viền dưới */
    outline: none; 
    padding-top: 10px;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.password-container{
    display: flex;
    margin-top:7%;
}
.title{
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
   
}
.wrapper{
    padding-left: 10%;
    width: 50vw;
    height: 25vw;
    border: 1px solid #FAF096;
    border-radius: 10px;
    display: flex;
    background-color:white;
    // background-color: azure;
}
.login-button{
    width: 100%;
    height:2vw ;
    margin-top: 2vw;
    border: none;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    border-radius: 4px;
    background-color: #FFD333;
}
.logo-form{
    background-color: #FAF096;
    width: 70%;
    
    border-radius: 10px;
}
.new-account{
    margin-left: 25%;
    margin-top: 10%;
    cursor: pointer;
    font-size: 1vw;
}
.new-account:hover{
    color:#FFD333
}
.close-btn{
    margin-top: 1%;
    margin-left: 94%;
    cursor: pointer;
}
.error-message {
    color: red;
    font-size: 1vw;
    display: none; /* Mặc định ẩn đi */
  }
  
  .error-message.visible {
    display: block; /* Hiển thị khi có lỗi */
  }
  