.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.error {
    font-size: 1.4rem;
    color: red;
    margin: -16px 0;
}