.custom-input {
    border: none;
    border-bottom: 1px solid #000; /* Màu viền dưới */
    outline: none; /* Loại bỏ viền xung quanh khi focus */
    padding: 5px 0; /* Khoảng cách giữa nội dung và viền dưới */
    width: 100%;
    width: 296px;
}